<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error Page</title>
</head>
<body>
<script>
    let errorMessage = "[[${errorMessage}]]";
    let redirectUrl = "[[${redirectUrl}]]";
    if (errorMessage == null || errorMessage == undefined) {
        errorMessage ="ERROR!!"
    }
    if(redirectUrl == null || redirectUrl == "") {
        redirectUrl ="/board/list"
    }
    alert(errorMessage); // 에러 메시지를 경고창으로 표시
    window.location.href = redirectUrl; // 지정된 URL로 이동
</script>
</body>
</html>